*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}
.Main{
    width: 1000px;
     margin: 0 auto;
     background-image: url(../Images/VanHub.jpg);
     background-size: auto;
     background-position: center;
     border-image-width: auto;
 }
 .head{
     overflow: hidden;
     padding: 40px 10px;
     background-color: ghostwhite;
     border: 15px solid black;
 }
.logo{
    float: left;
    width: 200px;
    margin right: 20px;
}
.logo a{
    text-transform: uppercase;
    -: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    display: inline-block;
    color: black;
}
.menu{
    float: right;
    width: 780;
}
.menu ul{
    text-align: right;
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
}
.menu ul li a:hover{
    background-color: #f1c40f;
    text-transform: uppercase;
    font-weight: bold;
}
.Page-banner{
    background-image: url(../Images/BackGroundBanner.jpg);
    padding: 155px 0px;
    background-size: cover;
    background-position: center;
    border-image-width: auto;
    margin-top: 40px;
    max-width: 100%;
    margin-bottom: 40px;
}
.Page-banner h4, .ServicesBanner h4, .banner h4{
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: bold;
    font-style: oblique;
    color: ghostwhite;
}
.banner{
   background-image: url("../Images/VanhubBannar.jpg");
   margin-top: 10px;
   padding: 155px 0px;
   background-size: inherit;
   background-position: center;
   border-image-width: auto;
   margin-top: 15px;
   max-width: 100%;
}
.ServicesBanner{
    background-image: url("../Images/ServicesBanner.jpg");
    margin-top: 10px;
    padding: 155px 0px;
    background-size: cover;
    background-position: center;
    border-image-width: auto;
    margin-top: 15px;
    max-width: 100%;
}
.services{
    overflow: hidden;
    padding: 20px 0;
}
.single-services{
    float: left;
    width: 333px;
     overflow: auto;    
}
.other-pages .single-services:nth-child(3),.other-pages .single-services:nth-child(6) {
    
    margin-bottom: 105px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.single-services h4{
    text-align: center;
    font-weight: bold;
    padding: 20 10;
    border: 10px solid currentColor;
    background-color: orange;
}
.single-services img{
    max-width: 100%;
    padding-top: 15px;
    padding-right: 7px;
}
.single-services P{
    margin: 10 0;
    line-height: 25px;
    font-size: 18px;
    border: 10px solid black;
    background-color: transparent;
    padding: 8px 11px;
    display: inline-table;
    margin-right: 6px;
}
.single-services p:hover{
    background-color: orangered;
}

.single-services a, .about_left a{
    text-decoration: none;
    text-transform: capitalize;
    background-color: yellow;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
}
.about{
    overflow: hidden;
}
.about_left{
    float: left;
    width: 677px;
    margin-right: 10px 0;
    /* padding: 20px 10px; */
    margin-right: 20px;
}
.about_left h4, .aboutmenu h4{    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding: 10px;
    border-bottom: 10px solid orange;
    border-left: 10 solid;S

}
.about_left p{
    line-height: 26px;
    overflow: auto;
    color: black;
    background-color: transparent;
    padding: auto;
    /* text-decoration-color: chocolate; */
    background-color: redorange;
    font-size: 21px;
    /* display: block;SS*/
    border:10px solid black;
    padding: 12px 10px;
}
.about_left p:hover{
    background-color: #f1c40f;
}
.aboutmenu{
    float: right;
    width: 249px;
}
.aboutmenu ul li{
    list-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.aboutmenu ul li:nth-child(even)
{
    border-color: black;
}

.aboutmenu ul li:nth-child(odd)
{
    border-color: #f1c40f;
}
.aboutmenu ul li:last-child{
    border-bottom: 0;
}
.aboutmenu ul li a{
    text-decoration: none;
    color: inherit;
}
.aboutmenu ul li a:hover{
    background-color: #f1c40f;
    font-size: bold;
    text-transform: uppercase;
    font-weight: italic;
}

.footer{
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    margin: 8px 60px;
    padding: 8px 34px;
    background-color: ghostwhite;
}
.Contact{
    overflow: hidden;
    padding: 33px 0;
}
.Contact-Us h4, .Adress h4{
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 25px;
}
.Contact-Us form{
    float: left;
    width: 500px;
    margin-right: 311px;
}
.Contact-Us input, .Contact-Us textarea{
    width: 100%;
    margin-bottom: 21px;
    padding: 5px;
    border: 1px solid black;
}
.Adress{
    float: right;
    width: 270px;
}
.Adress ul{
    list-style: none;
}
.Adress ul li{
        /* list-style: none; */
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        border-bottom: 1px solid black;
}
.Adress ul li a{
    text-decoration: none;
    color: inherit;
}
.Adress ul li a:hover{
    background-color: #f1c40f;
    font-weight: bold;
}
input[type="submit"] {
    width: auto;
    padding: 9px 33px;
    background-color: darkorange;
    color: black;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}
.ServiceBannar{
    background-image: url("../Images/GroupBanner.jpg");
    padding: 262px 177px;
    background-size: cover;
    background-position: center;
    border-image-width: auto;
    max-width: 100%;
    margin-top: 14px;

}
.ServiceBannar h4{
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: bold;
    font-style: oblique;
    color: aliceblue;

}
.custReview{
    float: left;
    width: 100%;
    margin-bottom: 70px;
    display: contents;
    padding: 10px 115px;
}
.custReview h4{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding: 10px;
    background-color: #f1c40f;
    border: 4px solid black;
}
.Chefmain, .ownersmain{
    width: 1000px;
    margin: 100px auto;
}
.fix:before, .fix:after {
    content: "";
    display: table;
    clear: both;
}
.Aboutchef{
    float: left;
    width: 310px;
    margin-left: 20px;
    position: relative;
    border: 8px solid black;
    overflow: hidden;
}
.Aboutchef img, .singleowner img{
    width: 100%;
}
.chefoverlay, .ownersoverlay{
    position: absolute;
    /* background-color: #fff; */
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: scale(0);
}
.Aboutchef:hover .chefoverlay, .singleowner:hover .ownersoverlay{
    visibility: visible;
    opacity: 1;
    top: 0;
    transform: scale(1);
}
.chefoverlay:before, .ownersoverlay:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    opacity: .5;
    z-index: -1;
}
.chefoverlay:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:red;
    opacity: .5;
    z-index: -1;
}
.chefcontent, .ownerscontent{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%
}
.chefcontent h4, .ownerscontent h4{
    text-transform: capitalize;
    color: aliceblue;
    font-size: 26px;
}
.chefcontent h4 span, .ownerscontent h4 span{
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    color: black;
}
.otherowners .ownersoverlay:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f1c40f;
    opacity: .5;
    z-index: -1;
}
.otherowners .singleowner{
    float: left;
    width: 310px;
    margin-right: 23px;
    position: relative;
    border: 8px solid black;
    overflow: hidden;
    margin-top: 20px;
}

.otherowners .singleowner:nth-child(3), .otherowners .singleowner:nth-child(6)
{
    margin-right: 0;
}

.map{
    
    width: 1000px;
    padding: 100px 0;
    background-position: center;

}
.map iframe{
    padding: 10px 20px;
    margin: 20px 100px;
}
.otherfooter{
   
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    margin: 255px 0;
    padding: 8px 34px;
    background-color: ghostwhite;
  
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 992px) and (max-width: 1200px) {
    
    /* CSS */
   .Main{
       width: 970px;
   }
   .logo {

    width: 130px; 
}
.single-services {
    width: 323px;
}
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    .Main{
        width: 750px;
    }
    .menu {
        width: 480;
    }
    .single-services {
        width: 250px;
     
    }
    .about_left {
        width: 501px;
    }
    .aboutmenu {
        width: 229px;
    }
    .other-pages .single-services:nth-child(3), .other-pages .single-services:nth-child(6) {
        margin-bottom: 138px;
    }
    .about {
    width: 771px;
}
.otherowners .singleowner {
    width: 233px;
 
}
  }

    
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media only screen and (max-width: 767px) {
    
    /* CSS */
    .Main{
        width: 300px;
    }
    .menu {
        width: 100%;
    }
    .menu ul {
        text-align: center;
    }
    .single-services, .about_left, .aboutmenu{
        width: 100%;
        margin-bottom: 10px;
    }
    .footer {
        margin: 10px -1px;
    }
    .about_left h4, .aboutmenu h4 {
        background-color: aliceblue;
    }
    .ServiceBannar {
        padding: 61px 150px;
    }
    .ServiceBannar h4 {
        font-size: 17px;
        margin: 40px -30px;
    }
    .Chefmain, .ownersmain, .otherowners .singleowner {
        width: 100%;
    }
    .Aboutchef {
        width: 100%;
        margin-left: 0;
    }
    .youtube {
        display: flex;
    }
    .map {
        width: 100%;
        display: inline-flex;
    }
    .logo{
        margin-bottom: 10px;
    }
    .Adress {
        width: 100%;
    }
    .Contact-Us form {
        width: 100%;
    }
    .Adress h4 {
        background-color: aliceblue;
        text-align: center;
    }

}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 480px) and (max-width: 767px) {

    .Main{
        width: 450px;
    }
    
    /* CSS */
    
  }